.App {
  text-align: center;
}

#legend{
  /* border: 1px solid black; */
  height: 40px;
  /* width: auto; */
}

#tooltip {
  visibility: hidden;
}

.county:hover {
  fill: dimgray;
  stroke: azure;
  stroke-width: 1;
}